@model Web_Blog.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site Metas -->
    <title>Blog - Nơi Chia Sẻ Và Kết Nối</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet">


    <!-- FontAwesome Icons core CSS -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">

    <!-- Style CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="~/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="~/css/colors.css" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="~/css/version/garden.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            font-style: italic;
        }

        #video-background {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1000;
            overflow: hidden;
        }

        /* Thêm CSS cho form */
        .card {
            width: 400px; 
            margin: auto;
            
        }

        .card-header {
            background-color: rgba(0, 0, 0, 0.7);
            color:#fff;
            text-align: center;
            padding: 10px;
            border: 3px solid grey;
        }

        .card-body {
            padding: 20px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
        }

        .form-control {
            border-radius: 10px;
        }

        .btn-primary {
            font-style: italic;
            border-radius: 20px;
            font-size: 16px; 
        }

        .card-1 {
            display: flex;
            justify-content: center; 
        }

    </style>
</head>

<body>
    <video autoplay muted loop id="video-background">
        <source src="/css/upload/quadep.mp4" type="video/mp4">
    </video>

    <div style="display:flex;gap:330px">
        <div style="margin-left:150px;margin-top:220px;">
            <h1 style="font-weight:bold;color:azure;font-size: 8em;">Blog</h1><br />
            <h5 style="font-weight:bold;color:cornsilk;">Blog - a place to connect and share with everyone.</h5>
        </div>
        <div style="margin-top:100px;opacity:0.8;" class="row justify-content-md-center">
        <div >
                <div class="card">
                    <div style="text-align:center;font-size: 24px;font-weight:bold" class="card-header">
                    Login
                </div>
                    <div class="card-body">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                        </div>

                        <div class="form-group">
                            <div class="row justify-content-md-center mt-3">
                                <div class="col-md-4">
                                    <div class="card-1">
                                            <div class="card-body">
                                            <input type="submit" name="submit" class="btn btn-primary" value="Login" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                    <hr />
                    <h5 style="text-align:center;">  <a href="@Url.Action("Register", "Account")">Created an account</a></h5>
                </div>
            </div>
        </div>
    </div>
   
    </div>
</body>


</html>